variables:
    System.Debug: true

jobs:
- job: windows
  pool:
    vmImage: vs2017-win2016
  steps:
    - script: |
        set output=%CD%\tasklist.csv
        tasklist /fo csv > %output%
        echo ##vso[task.uploadfile]%output%
        type %output%
      displayName: Show and save tasklist
      continueOnError: true

    - script: systeminfo
      condition: always()
      displayName: Show systeminfo
      continueOnError: true

    - powershell: |
        Get-WmiObject Win32_Process | Select-Object ProcessId,ProcessName,Handles,ExecutablePath,PeakPageFileUsage,CommandLine,ThreadCount | ConvertTo-Csv -NoTypeInformation > c:\process-details.csv
        Write-Host "##vso[task.uploadfile]c:\process-details.csv"
        type c:\process-details.csv
      displayName: Save process details
      continueOnError: true

    - powershell: |
        .\Get-ProcessTree.ps1 | select Id, Level, IndentedName, ParentId | Format-Table -AutoSize
      displayName: Show process tree
      continueOnError: true

    - script: |
        taskkill /f /im dotnet.exe
        taskkill /f /im powershell.exe
        timeout 5 /NOBREAK
      displayName: Kill tasks

    - script: systeminfo
      condition: always()
      displayName: Show systeminfo (2)
      continueOnError: true

    - script: |
        set output=%CD%\tasklist2.csv
        tasklist /fo csv > %output%
        echo ##vso[task.uploadfile]%output%
        type %output%
      displayName: Show and save tasklist (2)
      continueOnError: true      
    



    
  